.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* Login "edge" header */
.edge-header {
  height: 200px !important;
}

/* Front page MDBStreak background */

.streak-md {
  height: 300px !important;
}

/* Remove quotes and tilde from MDB Streak */
li h5.text-center.font-italic.mb-0 {
  opacity: 0;
}
li h2.h2-responsive {
  opacity: 0;
}

.counter {
  top: -20px !important;
  margin-left: -10px !important;
  background-color: #f57c00;
}

.number-input input[type="number"] {
  -webkit-appearance: textfield;
  -moz-appearance: textfield;
  appearance: textfield;
}
.number-input input[type="number"]::-webkit-inner-spin-button,
.number-input input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
}
.number-input {
  margin-bottom: 3rem;
}
.number-input button {
  -webkit-appearance: none;
  background-color: transparent;
  border: none;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  margin: 0;
  position: relative;
}
.number-input button:before,
.number-input button:after {
  display: inline-block;
  position: absolute;
  content: "";
  height: 2px;
  transform: translate(-50%, -50%);
}
.number-input button.plus:after {
  transform: translate(-50%, -50%) rotate(90deg);
}
.number-input input[type="number"] {
  text-align: center;
}
.number-input.number-input {
  border: 1px solid #ced4da;
  width: 10rem;
  border-radius: 0.25rem;
}
.number-input.number-input button {
  width: 2.6rem;
  height: 0.7rem;
}
.number-input.number-input button.minus {
  padding-left: 10px;
}
.number-input.number-input button:before,
.number-input.number-input button:after {
  width: 0.7rem;
  background-color: #495057;
}
.number-input.number-input input[type="number"] {
  max-width: 4rem;
  padding: 0.5rem;
  border: 1px solid #ced4da;
  border-width: 0 1px;
  font-size: 1rem;
  height: 2rem;
  color: #495057;
}

.def-number-input {
  margin: auto;
}

.minimumWidth {
  min-width: "770px !important";
}

.Toastify {
  opacity: 0.65 !important;
  z-index: 9999999999999999;
  position: absolute;
}

.adminEditButton {
  background-color: #f57c00 !important;
}

.adminDeleteButton {
  background-color: #cc0000 !important;
  color: #fff !important;
}

.storeCards {
  z-index: 100000;
}
